* {
    margin: 0px;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 20% 20% 20%;
    padding: 5px;
    grid-gap: 5px;
}

.item {
    display: grid;
    justify-self: stretch;
    align-self: stretch;
    align-items: center;
    justify-items: left;
    padding-left: 15px;
    font-size: 35px;
    border-radius: 15px;
}

.item-sv {
    border: 2px solid red;
    border-radius: 0px;
    grid-column: 3/6;
    grid-row: 2/3;
}

.dark {
    background-color: DarkSlateGray;
    color: white;
}

.light {
    background-color: silver;
    color: black;
}